.footer {
  min-height: 6em;
  padding-bottom: 1em;
  position: relative;
}

.footer > .iconion {
  height: 8em;
}

.copyright-creds {
  position: absolute;
  bottom: 0.8em;
}

.creds-ref {
  color: #EC1A3D;
}

.ss-c {
  max-width: 15em;
}

.footer .snapshot.mini {
  border-radius: 0.2em;
  height: 3.5em;
  width: 4.5em;
  margin: 0.2em;
}

@media (max-width: 600px) {
  .footer {
    min-height: 6.5em;
    padding-top: 0.8em;
    align-items: flex-start;
  }

  .copyright-creds {
    display: block;
    text-align: center;
  }
}
