.gallery-r {
  width: 100%;
  height: 15em;
  border-radius: 0.2em;
  transition: background-size 0.5s;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.shot-s {
  height: 20em;
  width: 20em;
  margin: 0.5em;
  border-radius: 0.2em;
}

.shot-s img {
  height: 100%;
  width: 100%;
}

.gallery-r:.first-child {
  margin-bottom: 0.5em;
}

.gallery-r:nth-child(2) {
  margin-top: 0.5em;
}

.gallery-r-c {
  width: calc(50% - 2em);
  margin-right: 0.4em;
  height: 30em;
}

.gallery-r-c.s {
  margin-left: 0.4em;
  margin-right: 0em;
}

.gallery-c {
  width: calc(50% - 2em);
  margin-left: 0.4em;
  height: 30em;
  border-radius: 0.3em;
  transition: background-size 0.5s;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-c.s {
  margin-left: 0;
  margin-right: 0.4em;
}

.gallery-c:hover, .gallery-r:hover {
  background-size: 105%;
}

.gallery-r.wood:first-child {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297006/freelance/lnfencing/IMG_5394.jpg');
}

.gallery-r.wood:nth-child(2) {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297008/freelance/lnfencing/IMG_5396.jpg');
}

.gallery-c.wood {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297005/freelance/lnfencing/IMG_5395.jpg');
}

.gallery-r.s_wood:first-child {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611460723/freelance/lnfencing/IMG_5433.jpg');
}

.gallery-r.s_wood:nth-child(2) {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611460714/freelance/lnfencing/IMG_5432.jpg');
}

.gallery-c.s_wood {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297948/freelance/lnfencing/IMG_5405.jpg');
}

.gallery-r.aluminum:first-child {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297018/freelance/lnfencing/IMG_5400.jpg');
}

.gallery-r.aluminum:nth-child(2) {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297016/freelance/lnfencing/IMG_5401.jpg');
}

.gallery-c.aluminum {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297015/freelance/lnfencing/IMG_5402.jpg');
}

.gallery-r.s_aluminum:first-child {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611460710/freelance/lnfencing/IMG_1671.jpg');
}

.gallery-r.s_aluminum:nth-child(2) {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611460717/freelance/lnfencing/IMG_5434.jpg');
}

.gallery-c.s_aluminum {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611460721/freelance/lnfencing/IMG_5435.jpg');
}

.gallery-r.pvc:first-child {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611296998/freelance/lnfencing/IMG_5386.jpg');
}

.gallery-r.pvc:nth-child(2) {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297002/freelance/lnfencing/IMG_5389.jpg');
}

.gallery-c.pvc {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611296999/freelance/lnfencing/IMG_5387.jpg');
}

.gallery-r.s_pvc:first-child {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611460715/freelance/lnfencing/IMG_5426.jpg');
}

.gallery-r.s_pvc:nth-child(2) {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611603908/freelance/lnfencing/IMG_3103.jpg');
}

.gallery-c.s_pvc {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611460711/freelance/lnfencing/IMG_5424.jpg');
}

.gallery-r.chain:first-child {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297000/freelance/lnfencing/IMG_5390.jpg');
}

.gallery-r.chain:nth-child(2) {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297011/freelance/lnfencing/IMG_5391.jpg');
}

.gallery-c.chain {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297002/freelance/lnfencing/IMG_5392.jpg');
}

.gallery-r.s_chain:first-child {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611460723/freelance/lnfencing/IMG_5429.jpg');
}

.gallery-r.s_chain:nth-child(2) {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611297018/freelance/lnfencing/IMG_5393.jpg');
}

.gallery-c.s_chain {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_700/v1611460712/freelance/lnfencing/IMG_2625.jpg');
}

@media (max-width: 600px) {
  .seventyfv-width {
    width: 90%;
  }

  .gallery-r-c {
    width: 100%;
    margin-right: 0px;
  }

  .gallery-c {
    width: 100%;
    height: 15em;
    margin-left: 0px;
  }
}
