.landing-header {
  font-size: 6em;
  padding: 0.1em 0.3em;
  content: "Wood";
  animation-name: header-anim;
  animation-duration: 4s;
  border-radius: 0.05em;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  border: 0.15em solid var(--Primary);
  width: fit-content;
  margin: 0 auto;
  max-height: 2em;
  opacity: 1;
}

.hrs {
  font-size: 1.5em;
}

@keyframes header-anim {
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .landing-header {
    font-size: 2.5em;
  }
}
