#reviews {
  background-color: rgba(236, 28, 36, 0.1);
}

.review-cont {
  width: 20em;
  min-height: 5em;
  border-radius: 0.2em;
  padding: 0.8em;
  padding-top: 1.4em;
  position: relative;
  background-color: var(--Tertiary);
  margin: 1em;
}

.review-cont .quotes {
  position: absolute;
  left: calc(50% - 1em);
  top: -0.9em;
  padding: 0.4em;
  border-radius: 50%;
  background-color: var(--Primary);
  border: 2px solid var(--Primary);
  color: var(--TertiaryTint);
}

.star-c {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.star {
  font-size: 2em;
}
