.services-c {
  height: 20em;
}

.services-c > div {
  width: 50%;
  position: relative;
}

.services-c .drop {
  padding: 3em 4em;
  width: calc(100% - 8em);
  height: calc(100% - 6em);
  z-index: 1;
}

.services-c .drop {
  background-color: rgba(3, 78, 162, 0.8);
}

.services-c.alt .drop {
  background-color: rgba(236, 28, 36, 0.8);
}

.services-c div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.services-c .icon {
  font-size: 2.5em;
}

@media (max-width: 600px) {
  .services-c > div {
    width: 100%;
    height: 20em;
  }

  .services-c {
    flex-wrap: wrap;
    height: auto;
  }

  .services-c br {
    display: none;
  }

  .services-c .drop {
    padding: 1.5em 2.5em;
    width: calc(100% - 5em);
    height: calc(100% - 3em);
    justify-content: space-around;
  }

  .services-c.alt {
    flex-direction: column-reverse;
  }
}
