.socials-side {
  width: 3em;
  top: 7em;
  position: fixed;
  left: 0em;
  z-index: 10000;
  transition: transform 0.4s;
  overflow: hidden;
}

.socials-side:hover {
  transform: scale(1.1);
  height: auto;
}

.socials-side:hover > .opener, .socials-side:hover > .content  {
  background-color: var(--PrimaryTint);
}

.socials-side > .content {
  width: 3em;
  max-width: 3em;
  position: relative;
  background-color: var(--Secondary);
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.socials-side > .content > .ico-cont {
  position: relative;
  width: 3em;
  height: 3em;
}

.socials-side > .content > .ico-cont > a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 800px) {
  .socials-side > .content {
    background-color: var(--Primary);
  }

  .socials-side {
    position: absolute;
    top: 9em;
  }
}
