@import url('https://fonts.googleapis.com/css2?family=Viga:wght@400;600&family=Open+Sans:wght@300;400;600&display=swap');

:root {
  --Primary: #034EA2;
  --PrimaryTint: #012751;
  --Secondary: #EC1C24;
  --Tertiary: #FFFFFF;
  --TertiaryTint: #F9F9F9;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: var(--Secondary);
}

.viga {
  font-family: 'Viga', sans-serif;
}

#root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.fs3 {
  font-size: 3em;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.seventyfv-width {
  width: 75%;
}

.flexible {
  display: flex;
}

.rows {
  flex-direction: row;
}

.columns {
  flex-direction: column;
}

.columns-reverse {
  flex-direction: column-reverse;
}

.wrap {
  flex-wrap: wrap;
}

.spacer {
  flex: 1 1 auto;
}

.spacer20 {
  flex: 0.2;
}

.center {
  justify-content: center;
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.popup {
  transition: box-shadow 0.2s, transform 0.2s;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
}

.popup:hover {
  box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.3);
  transform: translateY(-0.3em);
}

.clickable {
  cursor: pointer;
}

.primary {
  color: var(--Primary);
}

.primary-dark {
  color: var(--PrimaryTint);
}

.secondary {
  color: var(--Secondary);
}

.primaryFill {
  background-color: var(--Primary);
}

.secondaryFill {
  background-color: var(--Secondary);
}

.tertiary {
  color: var(--Tertiary);
}

.opaque {
  opacity: 0.7;
}

.twenyfv-height {
  position: relative;
  min-height: 25%;
}

.svnty-height {
  position: relative;
  min-height: 75%;
}

.naityfv-height {
  position: relative;
  min-height: 95%;
}

.sm-top {
  margin-top: 0.4em;
}

.foty-width {
  position: relative;
  width: 40%;
}

.bold {
  font-weight: bold;
}

.has-bg {
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611297018/freelance/lnfencing/IMG_5398.jpg');
  background-position: center;
  background-size: cover;
}

.has-bg.anim {
  animation-name: bg-anim;
  animation-duration: 16s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

@keyframes bg-anim {
  0% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611297018/freelance/lnfencing/IMG_5398.jpg'); /* wood */
  }
  25% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611297012/freelance/lnfencing/IMG_5399.jpg'); /* aluminum */
  }
  50% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611602423/freelance/lnfencing/IMG_2946.jpg'); /* pvc */
  }
  75% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611297002/freelance/lnfencing/IMG_5392.jpg'); /* chain */
  }
}

@-webkit-keyframes bg-anim {
  0% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611297018/freelance/lnfencing/IMG_5398.jpg'); /* wood */
  }
  25% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611297012/freelance/lnfencing/IMG_5399.jpg'); /* aluminum */
  }
  50% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611602423/freelance/lnfencing/IMG_2946.jpg'); /* pvc */
  }
  75% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611297002/freelance/lnfencing/IMG_5392.jpg'); /* chain */
  }
}

@-moz-keyframes bg-anim {
  0% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611297018/freelance/lnfencing/IMG_5398.jpg'); /* wood */
  }
  25% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611297012/freelance/lnfencing/IMG_5399.jpg'); /* aluminum */
  }
  50% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611602423/freelance/lnfencing/IMG_2946.jpg'); /* pvc */
  }
  75% {
    background-image: url('https://res.cloudinary.com/lgxy/image/upload/w_1500/v1611297002/freelance/lnfencing/IMG_5392.jpg'); /* chain */
  }
}

.has-bg > .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0,0,0,0.3);
}

.has-bg > *:not(.shadow) {
  z-index: 3;
}

.has-bg * {
  position: relative;
}

.text-center {
  text-align: center;
}

.tabbar {
  min-height: 4em;
  width: calc(100% - 1em);
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.tab-tab {
  min-width: 6.5em;
  text-align: center;
  height: 2.5em;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tab-tab::after {
  cursor: pointer;
  position: absolute;
  content: "";
  bottom: 0.2em;
  left: 50%;
  width: 0%;
  background-color: var(--Primary);
  height: 0.1em;
  border-radius: 0.2em;
  transition: left 0.2s, width 0.2s;
}

.tab-tab.active::after {
  left: 20%;
  width: 60%;
}

.zoom {
  overflow: hidden;
}

.zoom * {
  transition: transform 0.5s;
}

.zoom:hover * {
  transform: scale(1.2);
}

.framed-map {
  object-fit: cover;
  min-height: 30em;
  max-height: 40em;
  border: none;
}

.strikethrough {
  color: #A0A0A0;
  position: relative;
}

.strikethrough::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.1em);
  left: 0;
  width: 100%;
  height: 0.2em;
  border-radius: 0.1em;
  background-color: #A0A0A0;
  opacity: 0.9;
}

.shadow {
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

.shadow.show {
  display: block;
}

.modal {
  position: fixed;
  width: 20em;
  padding: 1em;
  min-height: 0em !important;
  background-color: #FFF;
  border-radius: 0.2em;
  z-index: 10000000;
  top: 10%;
  left: calc(50% - 10em);
  height: auto !important;
  visibility: hidden;
  overflow: hidden;
}

.modal.show {
  width: 30em;
  min-height: 20em;
  top: 30%;
  left: calc(50% - 15em);
  height: auto !important;
  visibility: visible;
  transition: left 1s, top 1s, width 1s, min-height 1s, height 1s;
}

.modal .divider {
  height: 0.2em;
  border-radius: 0.1em;
  background-color: var(--Primary);
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.modal .divider.small {
  width: 50%;
  height: 0.1em;
}

.hoverable {
  transition: transform 0.2s;
}

.hoverable:hover {
  transform: scale(1.1);
}

.flexible > button {
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.uriabs {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

button {
  font-size: 1em;
  min-width: 6em;
  padding: 0.4em 0.8em 0.4em 0.8em;
  border: none;
  outline: none;
  border-radius: 0.2em;
  color: var(--Tertiary);
  background-color: var(--Primary);
  position: relative;
}

button.trans {
  background-color: transparent;
}

input {
  width: 80%;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  height: 3em;
  border-radius: 0.2em;
  border: none;
  outline: none;
  color: var(--Primary);
  background-color: rgba(200, 200, 200, 0.1);
}

input.area {
  height: 6em;
}

.fab {
  position: absolute;
  right: 1em;
  bottom: 1em;
  width: 3.4em;
  height: 3.4em;
  cursor: pointer;
  border-radius: 50%;
}

.fab svg {
  font-size: 1.4em;
}

.resize-show {
  display: none;
}

@media (max-width: 600px) {
  .ft4 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
  }

  .modal {
    width: 50%;
    left: 25%;
  }

  .modal.show {
    width: 80% !important;
    left: 5% !important;
  }

  .resize-hide {
    display: none;
  }

  .resize-show {
    display: flex;
  }
}
